<ion-view view-title="首页">
    <ion-content>
        <p>这里是首页</p>
        <p>这里是首页</p>
        <p>这里是首页</p>
        <p>这里是首页</p>
    </ion-content>
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="首页" icon="ion-home" ui-sref="main.home">
            <ion-nav-view name="home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="点餐" icon="ion-ios-information" ui-sref="main.order">
            <ion-nav-view name="order"></ion-nav-view>
        </ion-tab>
        <ion-tab title="购物车" icon="ion-ios-world" ui-sref="main.car">
            <ion-nav-view name="car"></ion-nav-view>
        </ion-tab>
        <ion-tab title="我" icon="ion-ios-information" ui-sref="main.mine">
            <ion-nav-view name="mine"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>